table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 90%;
  margin: 0 5%;
}

.action-width {
  width: 150px;
  min-width: 150px !important;
}

.input-select {
  min-width: 260px;
  margin: 10px;
  text-align: left;
  border: 3px solid blue;
}
