html {
	background-color: rgb(73, 175, 189);
}
body  {
	font-family: Arial, Helvetica, sans-serif;
	border: 3px solid white;
	width: 800px;
	font-size: 100%;
	height: 100%;
	background-position: center;
	background-color: white;
	margin: 0 auto;
	border: 3px solid rgb(88, 88, 187);
	box-shadow: 0 1px 1px 1px rgb(88, 88, 187);
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
header img {
	float: left;
	margin-left: 10px;
	padding: 10px 30px;
	width: 150px;
	height: 100px;
	border: 3px solid aqua;
	border-radius: 4px;
}
header h2 {
	font-size: 175%;
	color: blue;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid blueviolet;
	background-color: white;
}
form{
	min-width: 300px;
	margin: auto;
	padding: 10px;
}
label{
	display: inline-block; 
	margin: 10px; 
	min-width: 150px;
	text-align: right;
	font-size: 16px;
	color: firebrick;
}
.student-input{
	margin: 10px;
	text-align: left;
	min-width: 250px;
	border: 3px solid blue;
}
.student-textarea{
	text-align: left;
	border: 3px solid blue;
	margin: 10px 10px 0 8px;
	padding: 0 12px;
}
.buttons{
	margin-left: 13em;
}
.button-submit{
	width: 100px;
	padding: 4px;
	margin: 2em 2em 2em 0em;
	border: 2px solid black;
	background-color: #4CAF50;
	border-radius: 4px;
	color: white;
}
.button-view{
	width: 150px;
	padding: 4px;
	border: 2px solid black;
	background-color: #4CAF50;
	border-radius: 4px;
	color: white;
}
#class_field, #teacher_id{
	text-align: left;
	min-width: 259px;
	margin: 10px;
	border: 3px solid blue;
}

#nav_menu{
	margin: 0 auto;
}
#nav_menu ul {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
	position: relative;
}
#nav_menu ul li a {
	padding: .7em 0px;
	text-align: center;
	display: block;
	width: 200px;
	text-decoration: none;
	background-color:blue;
	color: white;
}
#nav_menu ul li a.current {
	color: #f2a900;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

#form-title{
	padding: 3em 0 0 0;
	color: firebrick;
}
table{
	border: 2px solid blueviolet;
	margin: auto;
}
td, tr{
	border: 2px solid blueviolet;
}
th{
	border: 2px solid blueviolet;
	padding: 10px;
	color: brown;
} 
td{
	padding: 10px;
}
hr{
	color: blue;
	margin-bottom: 10px;
}
p{
	margin-left: 170px;
}
.table-view-section{
	margin: 20px;
}

footer {
	background-color: rgb(201, 72, 72);
	clear: both;
	padding: 1em 0;
	margin: 2em 0 0 0;
}
footer p {
	text-align: left;
	margin-left: 20em;
	color: white;
}